*.pyc
token.txt
*.suo
GAFBot.pyproj
*.sln
ignored.json
serversettings.json
copypastas.json
memes.json
testing.py
config.json
config/tags.json
desktop.ini
dev_token.txt
Rum.mp3
bot/config/modules.json
bot/config/serverSettings.db